.add-user-modal {
    background-color: #2e2e2e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust to make it more responsive */
    max-width: 400px; /* Limit the maximum width */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it’s above other content */
}

.add-user-modal h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center; /* Center the heading */
}

.add-user-modal .form-group {
    margin-bottom: 15px;
}

.add-user-modal input {
    width: calc(100% - 20px); /* Add padding inside the modal */
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 0 auto; /* Center the input fields */
    margin-top: 5px;
    display: block; /* Ensure block-level layout */
    box-sizing:unset;
}

.add-user-modal input:focus {
    border-color: #4caf50; /* Change border color on focus */
    outline: none;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-user-btn {
    background-color: #4caf50; /* Green button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    height: 40px;
}

.add-user-btn:hover {
    background-color: #45a049;
}

.add-user-cancel-btn {
    background-color: #f44336; /* Red button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;    
    height: 40px;

}

.add-user-cancel-btn:hover {
    background-color: #e53935;
}

.modal-close {
    background-color: #f44336;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-close:hover {
    background-color: #e53935;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background */
    z-index: 999; /* Higher than other content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-user-modal {
    background-color: #2e2e2e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Responsive width */
    max-width: 400px; /* Maximum width */
    z-index: 1000; /* Modal above overlay */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.add-user-modal h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
